body { 
  font-size: 18px;
  max-width: 90%;
  margin: 0 auto;
}

p {
  margin: 5px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: rgb(61, 101, 211);
}

h3 {
  color: red;
}

.date, .time, .event, .newLink, .oldLink {
  margin-bottom: 2px;
  text-align: center;
  
}

.event {
  text-align: left;
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 8fr 1fr 1fr 1fr;
}

.dedline {
  background-color: rgb(219, 58, 58);
}

.newTask {
  background-color: rgb(238, 238, 172)
}

.freeDay {
  background-color: rgb(181, 226, 240)
}
.wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 5fr ;
  /* margin-bottom: 30px; */
}
.oldLink>a {
  color: #677c74;
}